* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    font-family: "Madimi One", sans-serif;
    box-shadow: 0px 2px 5px 0px rgba(233, 147, 147, 0.2);
}

.logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-1 {
    font-weight: 400;
    color: #FF5671;
    font-size: 2rem;
    text-decoration: none;

}

.logo-2 {
    font-weight: 400;
    color: #7469b6;
    font-size: 2rem;
    text-decoration: none;
}

#imagen-logo {
    width: 50px;
    height: 40px;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    position: relative;
}

.contenedor-menu {
    padding: 10px;
}


ul li a {
    display: block;
    padding: 10px 15px;
    border-radius: 12px;
    margin-right: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    font-family: "Roboto Condensed", sans-serif;
    color: black;
}

ul li a:hover {
    background-color: #FF5671;
    color: white;
    width: 100%;
}

ul li .dropdown li {
    display: block;
    z-index: 1;
}

ul li .dropdown {
    position: absolute;
    display: none;

}

ul li:hover .dropdown {
    display: block;
    width: 100%;
    background-color: #FFE6E6;
    border-radius: 12px;
}

/* Main Start */

main {
    padding-top: 80px;
}


.texto-inicio {
    font-family: "Madimi One", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: rgb(77, 74, 74);
}

.imagen-principal {
    width: 800px;
    height: 460px;
    object-fit: cover;
}

.contenedor-imagen {
    width: 60%;
    height: auto;
    float: left;
    text-align: center;
}

.contenedor-texto-inicio {
    width: 40%;
    float: right;
    text-align: center;
    margin-top: 80px;
}

.boton-comenzar {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 12px 100px;
    background-color: #7469b6;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    border: 0;
    margin-top: 60px;
    box-shadow: 0 5px 0 #53498a;
}

.boton-comenzar:hover {
    background-color: #9f94e2;
}